*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/code/units/JavaBasics/Lesson03/StatementVariablesExpressions/nbproject/private/
/code/units/JavaBasics/Lesson03/StatementVariablesExpressions/build/
/code/ProgrammingByDoing/BasicsAnd Printing/nbproject/private/
/code/ProgrammingByDoing/Variables/nbproject/private/
/code/ProgrammingByDoing/KeyboardInput/nbproject/private/
/code/ProgrammingByDoing/KeyboardInput/build/
/code/ProgrammingByDoing/BasicsAnd Printing/build/
/code/ProgrammingByDoing/BasicsAndPrinting/nbproject/private/
/code/ProgrammingByDoing/BasicsAndPrinting/build/
/code/ProgrammingByDoing/Variables/build/
/Warmups/NetbeansProjectWarmups-2/nbproject/private/
/code/units/JavaBasics/Lesson03/WindowMaster/WindowMaster/nbproject/private/
/code/units/JavaBasics/Lesson03/WindowMaster/WindowMaster/build/
/code/units/JavaBasics/Lesson04/BooleansAndControllingProgramFlow/nbproject/private/
/code/units/JavaBasics/Lesson04/BooleansAndControllingProgramFlow/build/
/code/ProgrammingByDoing/IfStatements/nbproject/private/
/code/ProgrammingByDoing/IfStatements/build/
/Warmups/NetbeansProjectWarmups-2/build/
/code/units/JavaBasics/Lesson04/InterestCalculator/nbproject/private/
/code/units/JavaBasics/Lesson04/InterestCalculator/build/
/code/units/JavaBasics/Lesson05/PerfectAndPrime/nbproject/private/
/code/units/JavaBasics/Lesson05/RockPaperScissors/nbproject/private/
/code/units/JavaBasics/Lesson05/Rock Paper Scissors/nbproject/private/
/Warmups/SimpleFileIOExample/nbproject/private/
/Warmups/SimpleFileIOExample/build/
/code/ProgrammingByDoing/RandomNumbers/nbproject/private/
/code/ProgrammingByDoing/RandomNumbers/build/
/code/ProgrammingByDoing/WhileLoops/nbproject/private/
/code/ProgrammingByDoing/WhileLoops/build/
/code/ProgrammingByDoing/DoWhileLoops/nbproject/private/
/code/ProgrammingByDoing/DoWhileLoops/build/