*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/code/units/JavaBasics/Lesson03/StatementVariablesExpressions/nbproject/private/
/code/units/JavaBasics/Lesson03/StatementVariablesExpressions/build/
/code/ProgrammingByDoing/BasicsAnd Printing/nbproject/private/
/code/ProgrammingByDoing/Variables/nbproject/private/
/code/ProgrammingByDoing/KeyboardInput/nbproject/private/
/code/ProgrammingByDoing/KeyboardInput/build/
/code/ProgrammingByDoing/BasicsAnd Printing/build/
/code/ProgrammingByDoing/BasicsAndPrinting/nbproject/private/
/code/ProgrammingByDoing/BasicsAndPrinting/build/
/code/ProgrammingByDoing/Variables/build/
/Warmups/NetbeansProjectWarmups-2/nbproject/private/
/code/units/JavaBasics/Lesson03/WindowMaster/WindowMaster/nbproject/private/
/code/units/JavaBasics/Lesson03/WindowMaster/WindowMaster/build/
/code/units/JavaBasics/Lesson04/BooleansAndControllingProgramFlow/nbproject/private/
/code/units/JavaBasics/Lesson04/BooleansAndControllingProgramFlow/build/
/code/ProgrammingByDoing/IfStatements/nbproject/private/
/code/ProgrammingByDoing/IfStatements/build/
/Warmups/NetbeansProjectWarmups-2/build/
/code/units/JavaBasics/Lesson04/InterestCalculator/nbproject/private/
/code/units/JavaBasics/Lesson04/InterestCalculator/build/
/code/units/JavaBasics/Lesson05/PerfectAndPrime/nbproject/private/
/code/units/JavaBasics/Lesson05/RockPaperScissors/nbproject/private/
/code/units/JavaBasics/Lesson05/Rock Paper Scissors/nbproject/private/
/Warmups/SimpleFileIOExample/nbproject/private/
/Warmups/SimpleFileIOExample/build/
/code/ProgrammingByDoing/RandomNumbers/nbproject/private/
/code/ProgrammingByDoing/RandomNumbers/build/
/code/ProgrammingByDoing/WhileLoops/nbproject/private/
/code/ProgrammingByDoing/WhileLoops/build/
/code/ProgrammingByDoing/DoWhileLoops/nbproject/private/
/code/ProgrammingByDoing/DoWhileLoops/build/
/code/units/JavaBasics/Lesson05/PerfectAndPrime/build/
/code/units/JavaBasics/Lesson07/MethodDemo/nbproject/private/
/code/units/JavaBasics/Lesson07/MethodDemo/build/
/Warmups/AddingMachine/nbproject/private/
/Warmups/AddingMaching/nbproject/private/
/Warmups/FizzBuzz/nbproject/private/
/Warmups/MinMaxAvg/nbproject/private/
/Warmups/PrimeFinder/nbproject/private/
/Warmups/ForLoops/nbproject/private/
/Warmups/ForLoops/build/
/code/ProgrammingByDoing/BlackJack/nbproject/private/
/code/ProgrammingByDoing/BlackJack/build/
/code/ProgrammingByDoing/Methods/nbproject/private/
/code/ProgrammingByDoing/Methods/build/
/code/ProgrammingByDoing/Calculator/nbproject/private/
/code/ProgrammingByDoing/FileIO/nbproject/private/
/code/ProgrammingByDoing/FileIO/build/
/code/ProgrammingByDoing/Arrays/nbproject/private/
/code/ProgrammingByDoing/Arrays/build/
/code/ProgrammingByDoing/TicTacToe/nbproject/private/
/code/ProgrammingByDoing/TicTacToe/build/
/code/ProgrammingByDoing/Hangman/nbproject/private/
/code/ProgrammingByDoing/Sorting/nbproject/private/
/code/ProgrammingByDoing/Sorting/build/
/Warmups/GuessingGame/nbproject/private/
/Warmups/GuessingGame/build/
/code/units/JavaOOConcepts/Lesson01/DogExample/nbproject/private/
/code/units/JavaOOConcepts/Lesson01/DogExample/build/
/code/units/JavaBasics/Lesson05_ControllingProgramFlow/LuckySevens/LuckySevens/nbproject/private/
/code/units/JavaBasics/Lesson05_ControllingProgramFlow/LuckySevens/LuckySevens/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/GreatParty/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/GreatParty/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/CanHazTable/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/CanHazTable/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/PlayOutside/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/PlayOutside/build/