*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/code/units/JavaBasics/Lesson03/StatementVariablesExpressions/nbproject/private/
/code/units/JavaBasics/Lesson03/StatementVariablesExpressions/build/
/code/ProgrammingByDoing/BasicsAnd Printing/nbproject/private/
/code/ProgrammingByDoing/Variables/nbproject/private/
/code/ProgrammingByDoing/KeyboardInput/nbproject/private/
/code/ProgrammingByDoing/KeyboardInput/build/
/code/ProgrammingByDoing/BasicsAnd Printing/build/
/code/ProgrammingByDoing/BasicsAndPrinting/nbproject/private/
/code/ProgrammingByDoing/BasicsAndPrinting/build/
/code/ProgrammingByDoing/Variables/build/
/Warmups/NetbeansProjectWarmups-2/nbproject/private/
/code/units/JavaBasics/Lesson03/WindowMaster/WindowMaster/nbproject/private/
/code/units/JavaBasics/Lesson03/WindowMaster/WindowMaster/build/
/code/units/JavaBasics/Lesson04/BooleansAndControllingProgramFlow/nbproject/private/
/code/units/JavaBasics/Lesson04/BooleansAndControllingProgramFlow/build/
/code/ProgrammingByDoing/IfStatements/nbproject/private/
/code/ProgrammingByDoing/IfStatements/build/
/Warmups/NetbeansProjectWarmups-2/build/
/code/units/JavaBasics/Lesson04/InterestCalculator/nbproject/private/
/code/units/JavaBasics/Lesson04/InterestCalculator/build/
/code/units/JavaBasics/Lesson05/PerfectAndPrime/nbproject/private/
/code/units/JavaBasics/Lesson05/RockPaperScissors/nbproject/private/
/code/units/JavaBasics/Lesson05/Rock Paper Scissors/nbproject/private/
/Warmups/SimpleFileIOExample/nbproject/private/
/Warmups/SimpleFileIOExample/build/
/code/ProgrammingByDoing/RandomNumbers/nbproject/private/
/code/ProgrammingByDoing/RandomNumbers/build/
/code/ProgrammingByDoing/WhileLoops/nbproject/private/
/code/ProgrammingByDoing/WhileLoops/build/
/code/ProgrammingByDoing/DoWhileLoops/nbproject/private/
/code/ProgrammingByDoing/DoWhileLoops/build/
/code/units/JavaBasics/Lesson05/PerfectAndPrime/build/
/code/units/JavaBasics/Lesson07/MethodDemo/nbproject/private/
/code/units/JavaBasics/Lesson07/MethodDemo/build/
/Warmups/AddingMachine/nbproject/private/
/Warmups/AddingMaching/nbproject/private/
/Warmups/FizzBuzz/nbproject/private/
/Warmups/MinMaxAvg/nbproject/private/
/Warmups/PrimeFinder/nbproject/private/
/Warmups/ForLoops/nbproject/private/
/Warmups/ForLoops/build/
/code/ProgrammingByDoing/BlackJack/nbproject/private/
/code/ProgrammingByDoing/BlackJack/build/
/code/ProgrammingByDoing/Methods/nbproject/private/
/code/ProgrammingByDoing/Methods/build/
/code/ProgrammingByDoing/Calculator/nbproject/private/
/code/ProgrammingByDoing/FileIO/nbproject/private/
/code/ProgrammingByDoing/FileIO/build/
/code/ProgrammingByDoing/Arrays/nbproject/private/
/code/ProgrammingByDoing/Arrays/build/
/code/ProgrammingByDoing/TicTacToe/nbproject/private/
/code/ProgrammingByDoing/TicTacToe/build/
/code/ProgrammingByDoing/Hangman/nbproject/private/
/code/ProgrammingByDoing/Sorting/nbproject/private/
/code/ProgrammingByDoing/Sorting/build/
/Warmups/GuessingGame/nbproject/private/
/Warmups/GuessingGame/build/
/code/units/JavaOOConcepts/Lesson01/DogExample/nbproject/private/
/code/units/JavaOOConcepts/Lesson01/DogExample/build/
/code/units/JavaBasics/Lesson05_ControllingProgramFlow/LuckySevens/LuckySevens/nbproject/private/
/code/units/JavaBasics/Lesson05_ControllingProgramFlow/LuckySevens/LuckySevens/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/GreatParty/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/GreatParty/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/CanHazTable/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/CanHazTable/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/PlayOutside/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/PlayOutside/build/
/code/ProgrammingByDoing/Hangman/build/
/code/units/JavaOOConcepts/ShadowTest/nbproject/private/
/code/units/JavaOOConcepts/Person/nbproject/private/
/code/units/JavaOOConcepts/Person/build/
/code/units/JavaOOConcepts/MapsAndCollections/nbproject/private/
/code/units/JavaOOConcepts/MapsAndCollections/build/
/code/units/JavaBasics/Lesson05_ControllingProgramFlow/Factorizor/build/
/code/toys/Printer/nbproject/private/
/code/units/JavaBasics/Lesson05_ControllingProgramFlow/RockPaperScissors/build/
/code/units/JavaOOConcepts/Lesson01_ObjectBasics/SimpleCalculator/nbproject/private/
/code/units/JavaOOConcepts/ServerMapping/nbproject/private/
/code/units/JavaOOConcepts/ServerLookup/nbproject/private/
/code/units/JavaOOConcepts/ServerLookup/build/
/code/units/JavaOOConcepts/Lesson01_ObjectBasics/SimpleCalculator/build/
/code/units/JavaOOConcepts/AddressBook/nbproject/private/
/code/units/JavaOOConcepts/AddressBook/build/
/code/units/JavaOOConcepts/UnitOneSkillCheck/nbproject/private/
/code/units/JavaOOConcepts/UnitOneSkillCheck/build/
/Warmups/ArrayListPractice/nbproject/private/
/Warmups/ArrayListPractice/build/
/Warmups/ArrayListPractice_1/nbproject/private/
/Warmups/ArrayListMinMaxAvg/nbproject/private/
/Warmups/ArrayListMinMaxAvg/build/
/code/ProgrammingByDoing/Records/nbproject/private/
/code/ProgrammingByDoing/Records/build/
/code/ProgrammingByDoing/ArrayLists/nbproject/private/
/code/ProgrammingByDoing/ArrayLists/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/JavaApplication48/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/CaughtSpeeding/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/LogicDrills/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/LogicDrills/LogicDrills/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/ConditionalsDrills/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/ConditionalsDrills/build/
/code/units/JavaOOConcepts/DVDLibrary/nbproject/private/
/code/units/JavaOOConcepts/DVDLibrary/build/
/Warmups/EmployeeExample/nbproject/private/
/Warmups/EmployeeExample/build/
/Warmups/InterfaceExample/nbproject/private/
/code/units/JavaOOConcepts/Lesson08/Shapes/nbproject/private/
/code/units/JavaOOConcepts/Lesson08/Shapes/build/
/code/units/JavaOOConcepts/Lesson08/BankAccountManager/nbproject/private/
/code/units/JavaOOConcepts/Lesson08/BankAccountManager/build/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/Loops/nbproject/private/
/code/units/JavaOOConcepts/Lesson02_JUnit_and_Drills/Loops/build/
/code/units/JavaOOConcepts/Lesson09/GameBot/nbproject/private/
/code/units/JavaOOConcepts/Lesson09/GameBot/build/
/code/units/JavaOOConcepts/Lesson07/VendingMachine/nbproject/private/
/code/units/JavaOOConcepts/Lesson07/VendingMachine/build/
/ConsoleIO/nbproject/private/